transformers
sentence-transformers
Flask
flask-cors
google-generativeai
chromadb
python-dotenv
pytesseract
pdfplumber
python-pptx
opencv-python-headless
Pillow
pdf2image
playwright
wkhtmltopdf
PyJWT
logging
gunicorn
python-docx
langchain-community
playwright
pdfkit
pysqlite3
pysqlite3-binary